.ant-card-meta-description{
    /*color:red;*/
    text-align: center;
}

.ant-card-meta-title{
    text-align: center;
}

/*#cardImg{*/
/*    width: 200px;*/
/*    height: 300px;*/
/*    float: left;*/
/*}*/

.Box {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 15px;
    font-family: "HeiTi";
    font-weight: bold;
    /*padding-left: 10px;*/
}

#Venue{
    font-size: 12px;
    /*padding-left: 130px;*/
}

#Pricestr{
    /*padding-top: 10px;*/
    font-size: 16px;
    color: #fb385f;
    /*padding-left: 125px;*/
}