.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}

.category{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    border-radius: 25px;
    border: 2px solid #fb9c29;
}

.navigateButton{
    float:left;
    text-align:center;
}

.icon{
    width:100px;
    height:120px;
}

#moreHerf{
    font-size: 15px;
    float: right;
}
