#container{
    text-align: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
}

#login_form{
    width: 500px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -200px 0 0 -250px;
    background: white;
}


.ant-form-item-label{
    text-align: center;
    margin-top: 30px;
}

.ant-form-item-control{
    text-align: center;
    margin-top: 30px;
}

.ant-form-item-control-input{
    width:300px;
}

.site-page-header {
    border: 1px solid rgb(235, 237, 240);

}

#login_form{
    background-color: rgba(0,0,0,0);
    /*opacity: 0.5;*/
}
