.itemInfo{
    float:left;
}

.image{
    height:200px;
    width:160px;
    float:left;
}


#sortPageDiv{
    width: 70%;
    padding-left: 150px;
    /*margin: auto;*/
    padding-top: 50px;
    float: left;
}

#title{
    font-size: 20px;
    font-weight: bold;
    padding-left: 200px;
    font-family: "HeiTi";
}

#price{
    font-size: 20px;
    color: #fb385f;
    padding-left: 200px;
    padding-top: 10px;
    font-weight: bold;
}

#info{
    font-size: 16px;
    padding-left: 200px;
}

.ant-layout-header {
    background: white !important;
}

.menuItem{
    width:20px
}

#menuButton{
    margin: 0 20px 20px 20px; /*up right down left*/
    border-radius: 25px;
    border: 2px solid #61dafb;
    height:35px;
}

#sortButton{
    margin: 0 20px 0 0;
    background-color: #fb385f;
    border-radius: 25px;
    border: 2px solid #fb9c29;
    height: 35px;
}

#searchInput{
    border-radius: 25px;
    width: 400px;
}

#profileOperate{
    margin: 15px 20px 0 20px;
    float: right;
}

#searchDiv{
    padding-top: 15px;
    float: left;
    height: 60px;
    padding-left: 60px;
}

#menusortDiv{
    float: left;
    height: 60px;
    padding-left: 180px;
}

#header-content{
    padding-left: 150px;
    padding-top: 10px;
}

#carouselDiv{
    height: 300px;
}

#oligei{
    padding-left: 30px;
    float: left;
    width: 80px;
}

#classify{
    padding-left: 150px;
}

#PurchaseButton{
    /*float: left;*/
    /*padding-left: 300px;*/
}

#cityDiv{
    padding-top: 20px;
    width: 70%;
}

.site-collapse-custom-panel {
    background: white;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px;
    overflow: hidden;
}

.panel{
    background: #f8ffff;
}

