.itemInfo{
    float:left;
}

.image{
    height:200px;
    width:160px;
    float:left;
}


#sortPageDiv{
    width: 70%;
    padding-left: 150px;
    /*margin: auto;*/
    padding-top: 50px;
    float: left;
}

#title{
    font-size: 20px;
    font-weight: bold;
    padding-left: 200px;
    font-family: "HeiTi";
}

#price{
    font-size: 20px;
    color: #fb385f;
    padding-left: 200px;
    padding-top: 10px;
    font-weight: bold;
}

#info{
    font-size: 16px;
    padding-left: 200px;
}

